
@font-face {
    font-family: 'odin-font';
    src: url(assets/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

.bg-div{
    background: url('assets/nord.jpg') center fixed;
    background-size: cover;
    text-align: center;
    position: relative;
    flex: 1;
    filter: brightness(0.75);
}

.bg-logo{
    background-color: rgba(0, 0, 0, 0.8);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.odin-text{
    font-family: 'odin-font', sans-serif;
    font-size: 90px;
    color: white;
    padding: 10px;
}

.odin-logo{
    height: 100%;
    padding: 5px;
}

.bg-credit{
    color: white;
    bottom: 10px;
    text-align: center;
    position: absolute;
    left : 25%;
    font-size: 15px;
    font-family: sans-serif;
}

/** content **/
.content{
    flex: 2;
}

.top{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    font-weight: 600;
    font-size: 21px;
    margin-top: 5rem;
    font-family: sans-serif;
    padding-left: 45px;
    padding-top: 45px;
    padding-bottom: 35px;
    margin-right: 15rem;
    letter-spacing: 0px;
}

.account{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

/** forms **/
.form-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 5px 5px 20px #a8a8a8;
    background-color: white;
    padding : 20px 45px 45px 45px;
}

.form-col{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-title{
    font-size: 23px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: -1px;
}

/*Form inputs*/
input{
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5rem;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
}

input:focus {
    border-color: #E5E7EB;
    box-shadow: 1px 1px 5px rgba(0, 123, 255, 1);
}

/* input:valid {
    border-color: rgb(36, 145, 36);
} */

input:invalid {
    border-color: rgb(185, 36, 36);
}

label{
    font-weight: 700;
    font-size: 10px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
}

/*create account*/

.create-account{
    padding: 40px;
    font-family: sans-serif;

}

.btn-create{
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: #596D48;
    margin-bottom: 25px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: none;
}

.login-link{
    color : #596D48;
    font-weight: 600;
    text-decoration: none;
}

#create-text{
    letter-spacing: -0.5px;
    font-weight: 400;
}
